name: CI

on: push

env:
  GO_VERSION: 1.21

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ env.GO_VERSION }}
    - name: Build
      run: go build -v ./...
    - name: Run Tests
      run: go test -v ./...
