name: CI

on: push

env:
  GO_VERSION: 1.21

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - name: Set up Go
      uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
      with:
        go-version: ${{ env.GO_VERSION }}
    - name: Build
      run: go build -v ./...
    - name: Run Tests
      run: go test -v ./...
